@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import '../styles/AuthForm/AuthForm.scss';
@import '../styles/ContactSupportButton/ContactSupportButton.scss';

html {
    font-family: 'Montserrat', sans-serif;
}

input, select {
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(236, 240, 243);
    border-radius: 4px;
}

input, select {
    padding: 7px;
}

.container {
    @media screen and (max-width: 768px) {
        margin: 0 auto;
        & > * {
            margin: 0 auto;
            width: auto;
        }
    }
    margin: 50px 0 0 150px;
    height: 90vh;
    display: flex;;
    flex-direction: column;

    & > * {
        width: 370px;
    }
}


.custom-input, select {
    width: 100%;
    & > * {
        display: block;
    }
    input {
        width: -webkit-fill-available;
    }
}

label {
    color: #33313a;
    font-size: .75em;
    font-weight: 700;
    padding-bottom: 7px;
}

.page-title {
    & > span {
        font-weight: 300;
    }
}


/* Fix react-select styles */
.css-yk16xz-control.css-yk16xz-control, .css-1pahdxg-control {
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(236, 240, 243);
    border-radius: 4px;
}
.css-yk16xz-control.css-yk16xz-control,
.css-1pahdxg-control.css-1pahdxg-control {
    min-height: 36px;
}
.css-tlfecz-indicatorContainer.css-tlfecz-indicatorContainer, 
.css-1gtu0rj-indicatorContainer.css-1gtu0rj-indicatorContainer {
    padding: 0 10px;    
}


